* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --dark-Blue: #031ca6;
  --wigth-blue: #0339a6;
  --grey-blue: #0468bf;
  --grey-blue-light: #049dd9;
  --white-blue: #e6f5ff;
  --light-blue-input: #04b2d94b;
  --light-blue: #04b2d9;
  --white: #ffffff;
  --grey-subtitle: #a1acb3;
  --titleandtext: #333333;
  --labels-name: #6c6c80;

  font-size: 10px;
}

body {
  background-color: var(--white);
  font-family: "Antonio", sans-serif, "Poppins", sans-serif;
}

input:focus {
  outline: none;
}

select:focus{
  outline: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

#logo {
  width: 11rem;
  margin-right: 75%;
  cursor: pointer;
}

header a {
  font-size: 1.6rem;
  color: var(--grey-blue);
  width: 10rem;
  height: 3rem;
  text-align: right;
  text-decoration: none;
  background-image: url("img/enter.svg");
  background-repeat: no-repeat;
}
header a.end{
  width: 6.5rem;
  margin-left: 3.5rem;
}

.content {
  width: 140rem;
  padding: 2.5rem;
  margin: auto;
}

.content h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.4rem;
  color: var(--labels-name);
  margin-bottom: 1rem;
}

.content input {
  width: 39rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: var(--light-blue-input);
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--labels-name);
 
}

.textinline {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}

.textinline p {
  margin: 0;
  margin-right: 14rem;
}

.textinline input {
  margin: 0;
  width: 15rem;
  margin-left: -3.8rem;
}

#sexo{
  width: 13rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: var(--light-blue-input);
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--labels-name);
}

#date{
  width: 23rem;
}

 button {
  display: block;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: var(--white);
  background-color: var(--light-blue);
  width: 18rem;
  padding: 1rem;
  border-radius: 5px;

  transition: 0.3s;
}

.content button:hover {
  background-color: var(--grey-blue-light);
}

#bottom {
  margin-top: -30rem;
  margin-left: 70rem;
}

#bottom_cds{
  margin-top: -41rem;
  margin-left: 70rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.popup-conteudo {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  width: 30rem;
  border-radius: 5px;
}

.popup-conteudo img {
  width: 5.5rem;
}

#btnFecharPopup {
  margin: auto;
  margin-top: 2rem;
}

